extends ../components/base/layout

block variables
  - const title = "VRNas" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "about-us.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  -
    const sharp = {
      file: "sharp-about-us",
      width: "990",
      height: "721",
    }
  -
    const breadcrumbs = [
      {
        href: "index.html",
        title: "Home",
      },
      {
        href: "about-us.html",
        title: "About us",
        current: true,
      },
    ]


block main
  main
    +sharp(sharp).sharp--about-us
    +simple-intro(breadcrumbs, "About Us")(data-scroll)
    .page-section(data-scroll)
      +about-us-block()
    .page-section(data-scroll)
      +experience()
    .page-section(data-scroll)
      +passion()
    .page-section(data-scroll)
      +team()
    .page-section(data-scroll)
      +partners-block()
    .page-section.page-section--bottom(data-scroll)
      +subscribe()

block modals
