extends ../components/base/layout

block variables
  - const title = "About us – VRNas" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "about-us.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  -
    const breadcrumbs = [
      {
        href: "index.html",
        title: "Home",
      },
      {
        href: "about-us.html",
        title: "About us",
        current: true,
      },
    ]


block main
  main.sharp.sharp--about-us
    +simple-intro(breadcrumbs, "About Us")
    .page-section
      +about-us-block()(data-scroll)
    .page-section
      +experience()(data-scroll)
    .page-section
      +passion()(data-scroll)
    .page-section
      +team()(data-scroll)
    .page-section
      +partners-block()(data-scroll)
    .page-section.page-section--bottom
      +subscribe()(data-scroll)

block modals
