extends ../components/base/layout

block variables
  - const title = "VRNas" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +intro()
    .page-section
      +leader()(data-scroll)
    .page-section
      +our-service()(data-scroll)
    .page-section
      +choose-us()(data-scroll)
    .page-section
      +video-block()(data-scroll)
    .page-section
      +our-pricing()(data-scroll)
    //- partners-block & subscribe blocks already contain the data-scroll
    .page-section
      +partners-block()
    .page-section.page-section--bottom
      +subscribe()

block modals
