extends ../components/base/layout

block variables
  - const title = "UI-kit"

block main
  style
    include ../../sass/inline/uikit.css
    include ../../sass/inline/prism.css

  main
    .uikit
      //----------------------- Разделы с компонентами
      .uikit__sections(data-scroll-lock-fill-gap)
        label(for="section-burger")
          span Разделы&nbsp;компонентов
        input.visually-hidden(type="checkbox", checked, id="section-burger")
        div
          ul
            li
              a(href="#page-section") Обвязка секции
            li
              a(href="#canvas-grey") Блок с градиентным бордером
            li
              a(href="#logo") Логотип
            li
              a(href="#title") Заголовки
            li
              a(href="#accordion") Аккордион
            li
              a(href="#video") Видео
            li
              a(href="#modals") Модальные окна
            li
              a(href="#buttons") Кнопки
            li
              a(href="#forms") Элементы форм

      //----------------------------------------------
      .container
        a.uikit__header-link(href="sitemap.html")
          img(src="favicon/android-chrome-512x512.png", width="50", alt="Логотип проекта")
        h1.uikit__h1 Компоненты, используемые на проекте

        section.uikit__section
          h2.uikit__h2 Название компонента или группы компонентов
          p.uikit__text Информация о компоненте (подсказки \ предупреждение \ важная информация)
          .uikit__component
            p.uikit__text  Класс компонента \ модификаторы
            pre
              |
              code(class="language-pug").
                p Пример кода

        //- Обвязка секции
        section.uikit__section(id="page-section")
          h2.uikit__h2 Обвязка секции
          p.uikit__text Устанавливает унифицированные падддинги вокруг блоков
          .uikit__component
            p.uikit__text.uikit__text--class .page-section \ .page-section--bottom \ .page-section--only-bottom
            pre
              |
              code(class="language-pug").
                .page-section
                .page-section.page-section--bottom
                .page-section.page-section--only-bottom

        //- Блок с градиентным бордером
        section.uikit__section(id="canvas-grey")
          h2.uikit__h2 Блок с градиентным бордером
          p.uikit__text Блок с градиентным бордером и отличающимся фоном
          .uikit__component
            p.uikit__text.uikit__text--class .canvas-grey
            +canvas-grey()
              p any
              p  content
            pre
              |
              code(class="language-pug").
                +canvas-grey()
                  p any content

        //- Логотип
        section.uikit__section(id="logo")
          h2.uikit__h2 Логотип
          p.uikit__text На главной странице в шапке нужно передать true
          .uikit__component
            p.uikit__text.uikit__text--class .logo
            +logo()
            pre
              |
              code(class="language-pug").
                +logo(true)

        //- Заголовки
        section.uikit__section(id="title")
          h2.uikit__h2 Заголовки
          //- p.uikit__text
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h1
            .title Обычный заголовок
            .title.title--h1 Заголовок первого уровня
            pre
              |
              code(class="language-pug").
                .title Обычный заголовок
                .title.title--h1 Заголовок первого уровня


          h2.uikit__h2 Цветной заголовок
          .uikit__component
            p.uikit__text.uikit__text--class .title-colorful
            .title-colorful цветной
            pre
              |
              code(class="language-pug").
                .title-colorful цветной

          h2.uikit__h2 Сет заголовков
          p.uikit__text Сет из цветного заголовка и обычного, цветной заголовок - обычный параграф, обычный заголовок по умолчанию h2, или можно задать другой, передав его в свойстве tag
          .uikit__component
            p.uikit__text.uikit__text--class .titles-set
            +titles-set({colorful: "colorful", title: "title", tag: "h3"})
            pre
              |
              code(class="language-pug").
                +titles-set({colorful: "colorful", title: "title", tag: "h3"})

        //- Аккордион
        section.uikit__section(id="accordion")
          h2.uikit__h2 Аккордион
          .uikit__component
            p.uikit__text.uikit__text--class .accordion
            +accordion([
              {
                button: "Passionate and Experienced Team",
                text: "We&nbsp;are proud of&nbsp;our team of&nbsp;VR experts who are passionate about&nbsp;VR and dedicated to&nbsp;delivering the highest quality work. Our team consists of&nbsp;experienced&nbsp;VR developers, designers, and technicians who have a&nbsp;proven track record of&nbsp;creating immersive and engaging&nbsp;VR experiences.",
              },
              {
                button: "Customized Solutions",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, quae commodi. Velit sed possimus atque hic reiciendis facilis quam totam, quos perspiciatis eos architecto obcaecati ipsum, magni fugit dolorum repellendus.",
              },
              {
                button: "Exceptional Customer Service",
                text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores suscipit totam maiores minus unde provident velit facere, voluptatem amet consequatur magni, quisquam quae! Neque, deleniti magnam dolorem nesciunt voluptate assumenda.Aliquid, dolorum alias! Excepturi, cupiditate! Adipisci fugit debitis expedita esse. Consectetur, voluptates omnis beatae qui, doloribus rem, molestias quos id sint excepturi cupiditate! Maxime, quos doloribus soluta qui alias ratione.Eius omnis neque sunt illum dolore saepe delectus reiciendis sed quibusdam. Vel ducimus excepturi libero eum culpa quisquam quia adipisci nostrum, doloribus sapiente quam deleniti iusto quod tempora, sed quos.Ratione earum natus impedit, quaerat eius maxime laborum error harum, quis debitis maiores totam ad, repellat et quos? Accusamus nulla et nobis vero eius debitis consequatur eaque sint quisquam delectus?Ullam temporibus laboriosam dignissimos ipsa. Quaerat commodi error ab, earum, explicabo officia placeat repellat eius, aspernatur amet perspiciatis tenetur? In dolores ipsam laudantium eaque odit, libero quis non illum vitae.",
              },
            ])
            pre
              |
              code(class="language-pug").
                +accordion([{button: "btn", text: "txt"}])


        //- Видео
        section.uikit__section(id="video")
          h2.uikit__h2 Видео
          //- p.uikit__text
          p.uikit__text.uikit__text--class .video
          -
            const video = {
              src: "img/video/ee.mp4",
              poster: "img/video/poster@2x.webp",
            }
          style.
            .asdfkjasdfhooaiudfhuh {
              width: 60%;
            }


          .asdfkjasdfhooaiudfhuh
            +video(video)
          pre
            |
            code(class="language-pug").
              +video({src: "img/video/ee.mp4", poster: "img/video/poster@2x.webp"})


        //- Модальные окна
        section.uikit__section(id="modals")
          h2.uikit__h2 Модальные окна
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .modal--feedback
            +btn({text: "modal-feedback"})(data-open-modal="feedback")
            pre
              |
              code(class="language-pug").
                +btn({text: "modal-feedback"})(data-open-modal="feedback")
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .modal--success
            +btn({text: "modal-success"})(data-open-modal="success")
            pre
              |
              code(class="language-pug").
                +btn({text: "modal-success"})(data-open-modal="success")

        //- Кнопки
        section.uikit__section(id="buttons")
          h2.uikit__h2 Кнопки
          .uikit__component
            p.uikit__text.uikit__text--class .btn
            +btn({text: "Кнопка"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#"})
          .uikit__component
            p.uikit__text.uikit__text--class .btn
            +btn({text: "Ссылка", href: "#", isExternal: true})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#", isExternal: true})(aria-label="Просто ссылка")
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ disabled
            +btn({text: "Текст"})(disabled)
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})(disabled)

        //- Элементы форм
        section.uikit__section(id="forms")
          h2.uikit__h2 Элементы форм
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="text"
            +custom-input({
              inputLabel: "Введите ваше имя",
              inputName: "user-name-1",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputLabel: "Введите ваше имя",
                  inputName: "user-name-1",
                })
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="tel"
            +custom-input({
              inputType: "tel",
              inputLabel: "Введите номер телефона",
              inputName: "user-phone",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "tel",
                  inputLabel: "Введите номер телефона",
                  inputName: "user-phone",
                })
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="email"
            +custom-input({
              inputType: "email",
              inputLabel: "Введите вашу почту",
              inputName: "user-mail",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "email",
                  inputLabel: "Введите вашу почту",
                  inputName: "user-mail",
                })
          .uikit__component
            p.uikit__text.uikit__text--class +custom-textarea \ default
            +custom-textarea({
              inputLabel: "Расскажите о себе",
              inputName: "user-info"
            })
            pre
              |
              code(class="language-pug").
                +custom-textarea({
                  inputLabel: "Расскажите о себе",
                  inputName: "user-info"
                })
          .uikit__component
            p.uikit__text.uikit__text--class +custom-toggle \ default
            +custom-toggle({
              inputLabel: "Чекбокс",
              inputName: "user-agreement",
              inputValue: "user-agreement-1",
              inputChecked: false
            }).custom-toggle--checkbox
            pre
              |
              code(class="language-pug").
                +custom-toggle({
                  inputLabel: "Чекбокс",
                  inputName: "user-agreement",
                  inputValue: "user-agreement-1",
                  inputChecked: false
                }).custom-toggle--checkbox


          .uikit__component
            p.uikit__text Базовый селект c placeholder
            p.uikit__text.uikit__text--class +custom-select \ default
            +custom-select({
              placeholder: "Выберите одну из опций",
              error: "Выберите тему обращения",
              optionsList: [{text: "Тема 1", value: "id-1"}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]
            })(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-1").custom-select
            pre
              |
              code(class="language-pug").
                +custom-select({
                  placeholder: "Выберите одну из опций",
                  error: "Выберите тему обращения",
                  optionsList: [{text: "Тема 1", value: "id-1"}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]
                })(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-1").custom-select


  script
    include ../../js/inline/ui-kit.js

block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-success()
