extends ../components/base/layout

block variables
  - const title = "UI-kit"

block main
  style
    include ../../sass/inline/uikit.css
    include ../../sass/inline/prism.css

  main
    .uikit
      //----------------------- Разделы с компонентами
      .uikit__sections(data-scroll-lock-fill-gap)
        label(for="section-burger")
          span Разделы&nbsp;компонентов
        input.visually-hidden(type="checkbox", checked, id="section-burger")
        div
          ul
            li
              a(href="#sharp") Векторная декоративная подложка
            li
              a(href="#page-section") Обвязка секции
            li
              a(href="#section") Сетка секции
            li
              a(href="#logo") Логотип
            li
              a(href="#title") Заголовки
            li
              a(href="#text-content") Обвязка текста и не только
            li
              a(href="#breadcrumbs") Хлебные крошки
            li
              a(href="#accordion") Аккордион
            li
              a(href="#buttons") Кнопки
            li
              a(href="#property") Свойство
            li
              a(href="#video") Видео
            li
              a(href="#article-preview") Превью статьи
            li
              a(href="#aside") Сетка бокового меню
            li
              a(href="#info-card") Инфокарточка


            li
              a(href="#card-price") Карточка цены
            li
              a(href="#forms") Элементы форм

      //----------------------------------------------
      .container
        +sharp()
        a.uikit__header-link(href="sitemap.html")
          img(src="favicon/android-chrome-512x512.png", width="50", alt="Логотип проекта")
        h1.uikit__h1 Компоненты, используемые на проекте

        section.uikit__section
          h2.uikit__h2 Название компонента или группы компонентов
          p.uikit__text Информация о компоненте (подсказки \ предупреждение \ важная информация)
          .uikit__component
            p.uikit__text  Класс компонента \ модификаторы
            pre
              |
              code(class="language-pug").
                p Пример кода

        //- Векторная декоративная подложка
        section.uikit__section(id="sharp")
          h2.uikit__h2 Векторная декоративная подложка
          .uikit__component
            p.uikit__text.uikit__text--class .sharp \ .sharp--about-us
            pre
              |
              code(class="language-pug").
                +sharp()
                +sharp({
                  file: "sharp-about-us",
                  width: "990",
                  height: "721",
                }).sharp--about-us

        //- Обвязка секции
        section.uikit__section(id="page-section")
          h2.uikit__h2 Обвязка секции
          p.uikit__text Устанавливает унифицированные падддинги вокруг блоков
          p.uikit__text .page-section--bottom добавляет отступ снизу
          p.uikit__text .page-section--only-bottom устанавливает только отступ снизу
          .uikit__component
            p.uikit__text.uikit__text--class .page-section \ .page-section--bottom \ .page-section--only-bottom
            pre
              |
              code(class="language-pug").
                .page-section
                .page-section.page-section--bottom
                .page-section.page-section--only-bottom

        //- Сетка секции
        section.uikit__section(id="section")
          h2.uikit__h2 Сетка секции
          p.uikit__text Остальной контент расположится на следующей строке с отступом после вызова компонента
          .uikit__component
            p.uikit__text.uikit__text--class .section \ .section--reverce
            +section({
              colorful: "цветной",
              title: "заголовок",
            },{
              path: "content/about-us-block",
              name: "image",
              format: "png",
              width: "563",
              height: "662",
              alt: "Чувак в виар-очках в профиль.",
            },{
              path: "content/movable",
              name: "1",
              format: "jpg",
              width: "196",
              height: "128",
              alt: "just movable picture.",
            })
              p здесь уже любой контент
            pre
              |
              code(class="language-pug").
                +section({
                  colorful: "цветной",
                  title: "заголовок",
                },{
                  path: "content/about-us-block",
                  name: "image",
                  format: "png",
                  width: "563",
                  height: "662",
                  alt: "Чувак в виар-очках в профиль.",
                },{
                  path: "content/movable",
                  name: "1",
                  format: "jpg",
                  width: "196",
                  height: "128",
                  alt: "just movable picture.",
                })
                  p здесь уже любой контент

        //- Логотип
        section.uikit__section(id="logo")
          h2.uikit__h2 Логотип
          p.uikit__text На главной странице в шапке нужно передать true
          .uikit__component
            p.uikit__text.uikit__text--class .logo
            +logo()
            pre
              |
              code(class="language-pug").
                +logo(true)

        //- Заголовки
        section.uikit__section(id="title")
          h2.uikit__h2 Заголовки
          //- p.uikit__text
          .uikit__component
            +sharp()
            p.uikit__text.uikit__text--class .title \ .title--h1 \ .title--h3 \ .title--article
            .title Обычный заголовок
            .title.title--h1 Заголовок первого уровня
            .title.title--h3 Заголовок третьего уровня
            .title.title--article Используется в блоке .article
            pre
              |
              code(class="language-pug").
                .title Обычный заголовок
                .title.title--h1 Заголовок первого уровня
                .title.title--h3 Заголовок третьего уровня
                .title.title--article Используется в блоке .article
          h2.uikit__h2 Цветной заголовок
          .uikit__component
            p.uikit__text.uikit__text--class .title-colorful
            .title-colorful цветной
            pre
              |
              code(class="language-pug").
                .title-colorful цветной
          h2.uikit__h2 Сет заголовков
          p.uikit__text Сет из цветного заголовка и обычного, цветной заголовок - обычный параграф, обычный заголовок по умолчанию h2, или можно задать другой, передав его в свойстве tag
          .uikit__component
            p.uikit__text.uikit__text--class .titles-set
            +titles-set({colorful: "colorful", title: "title", tag: "h3"})
            pre
              |
              code(class="language-pug").
                +titles-set({colorful: "colorful", title: "title", tag: "h3"})

        //- Обвязка текста и не только
        section.uikit__section(id="text-content")
          h2.uikit__h2 Обвязка текста и не только
          p.uikit__text Задает общие стили для текста и других элементов, которые могут смешиваться с текстом – кнопки, картинки т.д.
          .uikit__component
            p.uikit__text.uikit__text--class .text-content
            pre
              |
              code(class="language-pug").
                .text-content

        //- Хлебные крошки
        section.uikit__section(id="breadcrumbs")
          h2.uikit__h2 Хлебные крошки
          p.uikit__text свойство current для последней крошки
          .uikit__component
            p.uikit__text.uikit__text--class .accordion
            +breadcrumbs([
              {
                href: "index.html",
                title: "Home",
              },
              {
                href: "about-us.html",
                title: "About us",
                current: true,
              },
            ])

            pre
              |
              code(class="language-pug").
                +breadcrumbs([
                  {
                    href: "index.html",
                    title: "Home",
                  },
                  {
                    href: "about-us.html",
                    title: "About us",
                    current: true,
                  },
                ])

        //- Аккордион
        section.uikit__section(id="accordion")
          h2.uikit__h2 Аккордион
          .uikit__component
            p.uikit__text.uikit__text--class .accordion
            +accordion([
              {
                button: "Passionate and Experienced Team",
                text: "We&nbsp;are proud of&nbsp;our team of&nbsp;VR experts who are passionate about&nbsp;VR and dedicated to&nbsp;delivering the highest quality work. Our team consists of&nbsp;experienced&nbsp;VR developers, designers, and technicians who have a&nbsp;proven track record of&nbsp;creating immersive and engaging&nbsp;VR experiences.",
              },
              {
                button: "Customized Solutions",
                text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, quae commodi. Velit sed possimus atque hic reiciendis facilis quam totam, quos perspiciatis eos architecto obcaecati ipsum, magni fugit dolorum repellendus.",
              },
              {
                button: "Exceptional Customer Service",
                text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores suscipit totam maiores minus unde provident velit facere, voluptatem amet consequatur magni, quisquam quae! Neque, deleniti magnam dolorem nesciunt voluptate assumenda.Aliquid, dolorum alias! Excepturi, cupiditate! Adipisci fugit debitis expedita esse. Consectetur, voluptates omnis beatae qui, doloribus rem, molestias quos id sint excepturi cupiditate! Maxime, quos doloribus soluta qui alias ratione.Eius omnis neque sunt illum dolore saepe delectus reiciendis sed quibusdam. Vel ducimus excepturi libero eum culpa quisquam quia adipisci nostrum, doloribus sapiente quam deleniti iusto quod tempora, sed quos.Ratione earum natus impedit, quaerat eius maxime laborum error harum, quis debitis maiores totam ad, repellat et quos? Accusamus nulla et nobis vero eius debitis consequatur eaque sint quisquam delectus?Ullam temporibus laboriosam dignissimos ipsa. Quaerat commodi error ab, earum, explicabo officia placeat repellat eius, aspernatur amet perspiciatis tenetur? In dolores ipsam laudantium eaque odit, libero quis non illum vitae.",
              },
            ])
            pre
              |
              code(class="language-pug").
                +accordion([{button: "btn text", text: "txt"}])

        //- Кнопки
        section.uikit__section(id="buttons")
          h2.uikit__h2 Кнопки
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ .btn--transparent
            +btn({text: "Кнопка"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#"})
          .uikit__component
            p.uikit__text.uikit__text--class .btn
            +btn({text: "Полупрозрачная", href: "#", isExternal: true}).btn--transparent
            pre
              |
              code(class="language-pug").
                +btn({text: "Полупрозрачная", href: "#", isExternal: true}).btn--transparent(aria-label="Просто ссылка")
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ disabled
            +btn({text: "Текст"})(disabled)
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})(disabled)

        //- Свойство
        section.uikit__section(id="property")
          h2.uikit__h2 Свойство
          //- p.uikit__text
          p.uikit__text.uikit__text--class .property
          .property property
          .property.property--little  property little
          pre
            |
            code(class="language-pug").
              .property property
              .property.property--little  property little

        //- Видео
        section.uikit__section(id="video")
          h2.uikit__h2 Видео
          //- p.uikit__text
          p.uikit__text.uikit__text--class .video
          -
            const video = {
              src: "img/video/ee.mp4",
              poster: "img/video/poster@2x.webp",
              tag: "VR Service",
              description: "How to get started",
            }
          +video(video)
          pre
            |
            code(class="language-pug").
              +video({
                src: "img/video/ee.mp4",
                poster: "img/video/poster@2x.webp",
                tag: "VR Service",
                description: "How to get started",
              })

        //- Превью статьи
        section.uikit__section(id="article-preview")
          h2.uikit__h2 Превью статьи
          //- p.uikit__text
          p.uikit__text.uikit__text--class .article-preview
          +article-preview({
            path: "content/previews",
            name: "14",
            format: "jpg",
            width: "102",
            height: "66",
            alt: "preview.",
            property: "VR Education",
            title: "The Future of&nbsp;Education: How VR&nbsp;is&nbsp;Revolutionizing the Classroom",
            link: "#",
          })
          pre
            |
            code(class="language-pug").
              +article-preview({
                path: "content/previews",
                name: "14",
                format: "jpg",
                width: "102",
                height: "66",
                alt: "preview.",
                property: "VR Education",
                title: "The Future of&nbsp;Education: How VR&nbsp;is&nbsp;Revolutionizing the Classroom",
                link: "#",
              })

        //- Сетка бокового меню
        section.uikit__section(id="aside")
          h2.uikit__h2 Сетка бокового меню
          p.uikit__text Задана сетка и стили для элементов списка (паддинги и бордер)
          p.uikit__text.uikit__text--class .aside
          pre
            |
            code(class="language-pug").
              .aside

        //- Инфокарточка
        section.uikit__section(id="info-card")
          h2.uikit__h2 Инфокарточка
          //- p.uikit__text
          p.uikit__text.uikit__text--class .info-card
          +info-card({
            icon: "card-software",
            title: "VR Development",
            text: "From concept to&nbsp;creation, our team of&nbsp;VR developers will bring your vision to&nbsp;life."
          })
          pre
            |
            code(class="language-pug").
              +info-card({
                icon: "card-software",
                title: "VR Development",
                text: "From concept to&nbsp;creation, our team of&nbsp;VR developers will bring your vision to&nbsp;life."
              })

        //- Карточка цены
        section.uikit__section(id="card-price")
          h2.uikit__h2 Карточка цены
          //- p.uikit__text
          p.uikit__text.uikit__text--class .card-price
          +card-price()
          pre
            |
            code(class="language-pug").
              +card-price()

        //- Элементы форм
        section.uikit__section(id="forms")
          h2.uikit__h2 Элементы форм
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="text"
            +custom-input({
              inputLabel: "Введите ваше имя",
              inputName: "user-name-1",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputLabel: "Введите ваше имя",
                  inputName: "user-name-1",
                })
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="tel"
            +custom-input({
              inputType: "tel",
              inputLabel: "Введите номер телефона",
              inputName: "user-phone",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "tel",
                  inputLabel: "Введите номер телефона",
                  inputName: "user-phone",
                })
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="email"
            +custom-input({
              inputType: "email",
              inputLabel: "Введите вашу почту",
              inputName: "user-mail",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "email",
                  inputLabel: "Введите вашу почту",
                  inputName: "user-mail",
                })
          .uikit__component
            p.uikit__text.uikit__text--class +custom-textarea \ default
            +custom-textarea({
              inputLabel: "Расскажите о себе",
              inputName: "user-info"
            })
            pre
              |
              code(class="language-pug").
                +custom-textarea({
                  inputLabel: "Расскажите о себе",
                  inputName: "user-info"
                })
          .uikit__component
            p.uikit__text.uikit__text--class +custom-toggle \ default
            +custom-toggle({
              inputLabel: "Чекбокс",
              inputName: "user-agreement",
              inputValue: "user-agreement-1",
              inputChecked: false
            }).custom-toggle--checkbox
            pre
              |
              code(class="language-pug").
                +custom-toggle({
                  inputLabel: "Чекбокс",
                  inputName: "user-agreement",
                  inputValue: "user-agreement-1",
                  inputChecked: false
                }).custom-toggle--checkbox


          .uikit__component
            p.uikit__text Базовый селект c placeholder
            p.uikit__text.uikit__text--class +custom-select \ default
            +custom-select({
              placeholder: "Выберите одну из опций",
              error: "Выберите тему обращения",
              optionsList: [{text: "Тема 1", value: "id-1"}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]
            })(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-1").custom-select
            pre
              |
              code(class="language-pug").
                +custom-select({
                  placeholder: "Выберите одну из опций",
                  error: "Выберите тему обращения",
                  optionsList: [{text: "Тема 1", value: "id-1"}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]
                })(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-1").custom-select


  script
    include ../../js/inline/ui-kit.js
