mixin about-us-block()
  -
    const titles = {
      colorful: "about us",
      title: "Bringing Your Vision to Life: Learn About VRNas",
    }
  -
    const pic = {
      path: "content/about-us-block",
      name: "image",
      format: "png",
      width: "563",
      height: "662",
      alt: "Чувак в виар-очках в профиль.",
      mobile: true,
    }

  -
    const movable = {
      path: "content/movable",
      name: "1",
      format: "jpg",
      width: "196",
      height: "128",
      alt: "just movable picture.",
    }

  +section(titles, pic, movable).about-us-block&attributes(attributes)
    p VRNas is a leading provider of VR services for education, entertainment, architecture, and events. Our mission is to bring the power of virtual reality to everyone, allowing them to explore new worlds, learn in new ways, and experience events in a whole new light.
    p Our team consists of experienced VR developers, designers, and technicians who are passionate about VR and dedicated to delivering the highest quality work. We use the latest VR hardware and software to create immersive, interactive experiences that are tailored to your specific needs.
    p From initial consultation to final delivery, we are committed to providing exceptional customer service. Our goal is to ensure that you are completely satisfied with every aspect of your VR experience.
