mixin article()
  -
    const previews = [
      {
        path: "content/previews",
        name: "14",
        format: "jpg",
        width: "102",
        height: "66",
        alt: "preview.",
        mobile: true,
        property: "VR Education",
        title: "The Future of Education: How VR is Revolutionizing the Classroom",
        link: "#",
      },
      {
        path: "content/previews",
        name: "1",
        format: "jpg",
        width: "102",
        height: "66",
        alt: "preview.",
        mobile: true,
        property: "VR Architecture",
        title: "Bringing Designs to Life: How VR is Changing Architecture",
        link: "#",
      },
      {
        path: "content/previews",
        name: "5",
        format: "jpg",
        width: "102",
        height: "66",
        alt: "preview.",
        mobile: true,
        property: "VR Entertainment",
        title: "Making Events Memorable: The Power of VR for Corporate and Special Occasions",
        link: "#",
      },
      {
        path: "content/previews",
        name: "4",
        format: "jpg",
        width: "102",
        height: "66",
        alt: "preview.",
        mobile: true,
        property: "VR Event",
        title: "Exploring New Worlds: The Benefits of VR Travel",
        link: "#",
      },
    ]
  -
    const hashtags = [
      "#VRDesign", "#ArchitectureInnovation", "#DesignThinking", "#VirtualRealityArchitecture", "#BringingDesignsToLife", "#DesignVisualization", "#ArchitecturalVisualization", "#RevolutionizingArchitecture", "#BuildingInVR"
    ]


  article.article&attributes(attributes)
    .article__light
    .container
      .article__grid
        .text-content
          .article__titles
            .property VR Architecture
            h1.title.title--article Bringing Designs to Life: How VR is Changing Architecture
            .title-colorful NASYIYA ULFA | #[time(datetime="2022-11-25") 25 NOV 2022]

          +picture(
            "content/detail-blog",
            "Image",
            "jpg",
            "789",
            "528",
            "Чувак в виар-очках вставл в позу телекинезера.",
            true,
          )

          p Architecture is an art and science that is constantly evolving with technology. The industry has gone through various transformations over the years, from pencil and paper sketches to computer-aided design (CAD) software. However, one technology that is revolutionizing architecture is virtual reality (VR) design.
          p With VR design, architects can bring their designs to life and offer clients an immersive experience that was previously impossible. The technology enables architects to create a virtual representation of their designs, allowing clients to step into the building and explore its features and spaces before it is built.
          p VR design is a game-changer for architects and clients alike. It enables architects to design with a greater level of detail and precision, allowing them to identify design flaws and make necessary modifications before construction begins. This not only saves time and money but also ensures that the final product meets the client's expectations.
          p Clients can also benefit from VR design by having a better understanding of the design and how it will look and feel in real life. It allows them to experience the design in a more realistic way, helping them make informed decisions and providing valuable feedback to the architects.
          p Moreover, VR design is not only limited to the design phase. It can also be used in the construction process to visualize the project's progress and identify any issues that may arise.

          .article__mini-pics
            +picture(
              "content/detail-blog",
              "infinity",
              "jpg",
              "377",
              "252",
              "символ бесконечности.",
              true,
            )
            +picture(
              "content/detail-blog",
              "vr",
              "jpg",
              "377",
              "252",
              "виар-очки.",
              true,
            )

          p The benefits of VR design in architecture are clear, and the technology is becoming increasingly accessible and affordable. More and more architects and firms are incorporating VR design into their workflows, and the industry is poised for a major transformation.
          p In conclusion, VR design is changing the way architects design and bring their projects to life. It is a powerful tool that offers a range of benefits, from increased precision and efficiency in the design phase to better communication and understanding with clients. As the technology becomes more advanced and widespread, we can expect to see more innovative designs and better-designed buildings in the future.

          .article__footer
            section.article__section
              h2.title.title--h3 Post Tags :
              .article__hashtags
                p #VRDesign #ArchitectureInnovation #VirtualRealityArchitecture #BringingDesignsToLife #DesignVisualization #ArchitecturalVisualization #RevolutionizingArchitecture #BuildingInVR #DesignThinking #VRInArchitecture

            section.article__section
              h2.title.title--h3 Share :
              .article__socials
                a.article__social-link(href="#", target="_blank", rel="nofollow noopener noreferrer")
                  span.visually-hidden twitter
                  img(class="article__social-icon", src="img/svg/social/twitter.svg", width="19", height="15", alt="just decorate.", aria-hidden="true", loading="lazy")
                a.article__social-link(href="#", target="_blank", rel="nofollow noopener noreferrer")
                  span.visually-hidden facebook
                  img(class="article__social-icon", src="img/svg/social/facebook.svg", width="11", height="20", alt="just decorate.", aria-hidden="true", loading="lazy")
                a.article__social-link(href="#", target="_blank", rel="nofollow noopener noreferrer")
                  span.visually-hidden instagram
                  img(class="article__social-icon", src="img/svg/social/instagram.svg", width="23", height="23", alt="just decorate.", aria-hidden="true", loading="lazy")

        .article__aside-wrapper
          +aside(previews, hashtags)
