mixin choose-us()
  -
    const titles = {
      colorful: "why choose us",
      title: "Why Choose Us for Your VR Needs",
    }
  -
    const accordion = [
      {
        button: "Passionate and Experienced Team",
        text: "We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the highest quality work. Our team consists of experienced VR developers, designers, and technicians who have a proven track record of creating immersive and engaging VR experiences.",
      },
      {
        button: "Customized Solutions",
        text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, quae commodi. Velit sed possimus atque hic reiciendis facilis quam totam, quos perspiciatis eos architecto obcaecati ipsum, magni fugit dolorum repellendus.",
      },
      {
        button: "Exceptional Customer Service",
        text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores suscipit totam maiores minus unde provident velit facere, voluptatem amet consequatur magni, quisquam quae! Neque, deleniti magnam dolorem nesciunt voluptate assumenda.Aliquid, dolorum alias! Excepturi, cupiditate! Adipisci fugit debitis expedita esse. Consectetur, voluptates omnis beatae qui, doloribus rem, molestias quos id sint excepturi cupiditate! Maxime, quos doloribus soluta qui alias ratione.Eius omnis neque sunt illum dolore saepe delectus reiciendis sed quibusdam. Vel ducimus excepturi libero eum culpa quisquam quia adipisci nostrum, doloribus sapiente quam deleniti iusto quod tempora, sed quos.Ratione earum natus impedit, quaerat eius maxime laborum error harum, quis debitis maiores totam ad, repellat et quos? Accusamus nulla et nobis vero eius debitis consequatur eaque sint quisquam delectus?Ullam temporibus laboriosam dignissimos ipsa. Quaerat commodi error ab, earum, explicabo officia placeat repellat eius, aspernatur amet perspiciatis tenetur? In dolores ipsam laudantium eaque odit, libero quis non illum vitae.",
      },
    ]
  -
    const pic = {
      path: "content/choose-us",
      name: "image",
      format: "png",
      width: "399",
      height: "574",
      alt: "Чувак в виар-очках и типа бежит.",
      mobile: true,
    }
  -
    const movable = {
      path: "content/movable",
      name: "3",
      format: "jpg",
      width: "196",
      height: "128",
      alt: "just movable picture.",
    }

  +section(titles, pic, movable).choose-us&attributes(attributes)
    +accordion(accordion)
