mixin experience()
  -
    const titles = {
      colorful: "why choose us",
      title: "Empowering Your&nbsp;Virtual Reality Experience",
      center: true,
    }
  .experience
    .container
      +titles-set(titles)
      +personalisation()
