mixin info-about-us-index()
  section.info-about-us-index&attributes(attributes)
    .container
      .info-about-us-index__grid
        .info-about-us-index__picture-part
          .info-about-us-index__light
            +icon("light", "100%", "100%", true)
          .info-about-us-index__picture-wrapper
            +picture(
              "content/info-about-us-index",
              "Image",
              "png",
              "518",
              "622",
              "Чувак из клипа нулевых тычет пальцем в воздух.",
            )
        .info-about-us-index__title-part
          h3.title-colorful about us
          h2.info-about-us-index__title.title Bring your events to&nbsp;life like never before with our&nbsp;VR services.
        .info-about-us-index__text-part
          p VRNas is&nbsp;a&nbsp;leading provider of&nbsp;VR services for education, entertainment, architecture, and events. Our mission is&nbsp;to&nbsp;bring the power of&nbsp;virtual reality to everyone, allowing them to&nbsp;explore new worlds, learn in new ways, and experience events in&nbsp;a&nbsp;whole new light.
          ul.info-about-us-index__list
            li.info-about-us-index__item
              .info-about-us-index__item-icon
                +icon("checkbox-checked", "16", "16", true)
              span.info-about-us-index__item-text Cutting-Edge Technology
            li.info-about-us-index__item
              .info-about-us-index__item-icon
                +icon("checkbox-checked", "16", "16", true)
              span.info-about-us-index__item-text Versatile Applications
            li.info-about-us-index__item
              .info-about-us-index__item-icon
                +icon("checkbox-checked", "16", "16", true)
              span.info-about-us-index__item-text Affordable and Accessible
          +btn({text: "read more", href: "#", isExternal: true}).info-about-us-index__btn
