mixin intro-about-us()
  -
    const breadcrumbs = [
      {
        href: "index.html",
        title: "Home",
      },
      {
        href: "about-us.html",
        title: "About us",
        current: true,
      },
    ]
  section.intro-about-us&attributes(attributes)
    .intro-about-us__light
      .intro-about-us__light-overflow
        +icon("light-intro-about-us", "449", "147", true)
    .container
      .intro-about-us__grid
        h1.title.title--h1 About Us
        +breadcrumbs(breadcrumbs)
