mixin intro()
  -
    const btn = {
      text: "discover more",
      href: "#",
      isExternal: true,
    }
  -
    const clients = ["1", "2", "3"]
  -
    const movable = {
      path: "content/movable",
      name: "1",
      format: "jpg",
      width: "196",
      height: "128",
      alt: "just movable picture.",
    }

  section.intro&attributes(attributes)
    +sharp()
    .container
      .intro__grid
        h1.title.title--h1 Immerse Yourself in Virtual Reality
        .text-content
          p Experience Unforgettable Events in VR. Bring your events to life like never before with our VR services
          +btn(btn).intro__btn
          .intro__clients
            .intro__photos
              each client in clients
                +picture(
                  "content/intro/happy-client",
                  client,
                  "jpg",
                  "50",
                  "50",
                  "Фото счастливого клиента."
                )

            .intro__photos-description
              .intro__how-many 32k+
              .intro__who-how-many Happy Client

          .intro__movable
            +picture(movable.path, movable.name, movable.format, movable.width, movable.height, movable.alt)(data-parallax-mouse, data-movement='6')

        .intro__picture-wrapper
          .intro__light
            .intro__light-overflow
              +icon("light-intro", "567", "340", true)
          .intro__picture
            +picture(
              "content/intro",
              "intro",
              "png",
              "526",
              "626",
              "Чувак с надетыми черными виар-очками.",
            )
      +personalisation()
