mixin intro()
  -
    const btn = {
      text: "discover more",
      href: "#",
      isExternal: true,
    }
  -
    const clients = [
      {name: "1"},
      {name: "2"},
      {name: "3"},
    ]

  section.intro&attributes(attributes)
    h1.visually-hidden vrnas
    .container
      .intro__grid
        .intro__text-part
          h1.title.title--h1 Immerse Yourself in Virtual Reality
          p Experience Unforgettable Events in VR. Bring your events to life like never before with our VR services
          +btn(btn).intro__btn
          .intro__clients
            .intro__photos
              each client in clients
                +picture(
                  "content/intro/happy-client",
                  client.name,
                  "jpg",
                  "50",
                  "50",
                  "Фото счастливого клиента."
                )

            .intro__photos-description
              .intro__how-many 32k+
              .intro__who-how-many Happy Client
        .intro__picture-part
          .intro__light
            +icon("light", "100%", "100%", true)
          .intro__picture-wrapper
            +picture(
              "content/intro",
              "intro",
              "png",
              "526",
              "626",
              "Чувак с надетыми черными виар-очками.",
            )

    +personalisation()
