mixin our-service()
  -
    const serviceCards = [
      {
        icon: "card-software",
        title: "VR Development",
        text: "From concept to&nbsp;creation, our team of&nbsp;VR developers will bring your vision to&nbsp;life."
      },
      {
        icon: "card-lamp",
        title: "VR Design",
        text: "Our talented&nbsp;VR designers will create immersive and engaging environments that will captivate your audience."
      },
      {
        icon: "card-message",
        title: "VR Consulting",
        text: "Our VR&nbsp;consultants will work with you to&nbsp;ensure that your&nbsp;VR experience meets your goals and exceeds your expectations."
      },
      {
        icon: "card-gamepad",
        title: "VR Games",
        text: "We&nbsp;offer a&nbsp;wide selection of&nbsp;VR games that are&nbsp;suitable for players of&nbsp;all ages and skill levels."
      },
      {
        icon: "card-party",
        title: "VR Events",
        text: "Make your next event unforgettable with our&nbsp;VR event services."
      },
      {
        icon: "card-theatre",
        title: "VR Entertainment",
        text: "Create a&nbsp;VR escape room, or&nbsp;offer&nbsp;VR experiences at&nbsp;a&nbsp;theme park, we&nbsp;have the expertise and experience to&nbsp;make it&nbsp;happen."
      },
    ]
  section.our-service#our-service
    .container
      .our-service__light
        .our-service__light-overflow
          +icon("light-our-service", "403", "199", true)
      .our-service__grid
        .our-service__text-grid
          .our-service__titles
            p.title-colorful(aria-hidden="true") our service
            h2.title Our Service
          .text-content
            p We&nbsp;use the latest&nbsp;VR hardware and software to&nbsp;create high-quality VR&nbsp;experiences that are accessible and affordable. Our goal is&nbsp;to&nbsp;provide exceptional customer service and support, and our team is&nbsp;always available to&nbsp;answer any questions and address any concerns you may have.
        .our-service__cards
          each card in serviceCards
            +info-card(card)
