mixin our-pricing()
  -
    const titles = {
      colorful: "our pricing",
      title: "Affordable VR Services for Everyone",
    }

  -
    const features = [
      {
        title: "Customizable Packages",
        text: "We understand that each project is unique, so we offer customizable packages to ensure that you get the services you need at a price that works for you. Our team will work with you to create a package that meets your specific goals and budget.",
      },
      {
        title: "Flexible Payment Options",
        text: "We offer flexible payment options to make it easy for you to get started with our services. We accept various payment methods, including credit cards, bank transfers, and PayPal, and we can also work with you to create a payment plan that suits your needs.",
      },
      {
        title: "Satisfaction Guarantee",
        text: "We stand behind our services and are committed to ensuring that you are completely satisfied with the final product. If for any reason you are not happy with our services, we will work with you to make it right or provide a full refund.",
      },
    ]
  section.our-pricing#our-pricing&attributes(attributes)
    .container
      .our-pricing__grid
        .text-content
          +titles-set(titles)
          p At VRNas, we believe that everyone should have access to the benefits of VR. That&rsquo;s why we offer a range of pricing options to meet the needs of any budget.
        .our-pricing__wrapper
          ul.our-pricing__list
            each item in features
              li.our-pricing__item
                .our-pricing__item-title!= item.title
                .our-pricing__item-text!= item.text
          .our-pricing__picture-wrapper
            .our-pricing__light
              img(src="img/svg/lights/light-pricing.svg", width="826", height="363", alt="just decorate.", aria-hidden="true")
            +picture(
              "content/our-pricing",
              "image",
              "png",
              "360",
              "520",
              "Опять чувак в виар-очках.",
              true,
            )(loading="lazy")
        +card-price()
