mixin our-service()
  -
    const serviceCards = [
      {
        icon: "card-software",
        title: "VR Development",
        text: "From concept to creation, our team of VR developers will bring your vision to life."
      },
      {
        icon: "card-lamp",
        title: "VR Design",
        text: "Our talented VR designers will create immersive and engaging environments that will captivate your audience."
      },
      {
        icon: "card-message",
        title: "VR Consulting",
        text: "Our VR consultants will work with you to ensure that your VR experience meets your goals and exceeds your expectations."
      },
      {
        icon: "card-gamepad",
        title: "VR Games",
        text: "We offer a wide selection of VR games that are suitable for players of all ages and skill levels."
      },
      {
        icon: "card-party",
        title: "VR Events",
        text: "Make your next event unforgettable with our VR event services."
      },
      {
        icon: "card-theatre",
        title: "VR Entertainment",
        text: "Create a VR escape room, or offer VR experiences at a theme park, we have the expertise and experience to make it happen."
      },
    ]
  section.our-service#our-service&attributes(attributes)
    .container
      .our-service__grid
        .our-service__text-grid
          .our-service__titles
            p.title-colorful(aria-hidden="true") our service
            h2.title Our Service
          .text-content
            p We use the latest VR hardware and software to create high-quality VR experiences that are accessible and affordable. Our goal is to provide exceptional customer service and support, and our team is always available to answer any questions and address any concerns you may have.
        .our-service__cards
          each card in serviceCards
            +info-card(card)
