mixin our-pricing()
  -
    const titles = {
      colorful: "our pricing",
      title: "Affordable VR&nbsp;Services for&nbsp;Everyone",
    }

  -
    const features = [
      {
        title: "Customizable Packages",
        text: "We&nbsp;understand that each project is&nbsp;unique, so&nbsp;we&nbsp;offer customizable packages to&nbsp;ensure that you get the services you need at&nbsp;a&nbsp;price that works for you. Our team will work with you to&nbsp;create a&nbsp;package that meets your specific goals and budget.",
      },
      {
        title: "Flexible Payment Options",
        text: "We&nbsp;offer flexible payment options to&nbsp;make it&nbsp;easy for you to&nbsp;get started with our services. We&nbsp;accept various payment methods, including credit cards, bank transfers, and PayPal, and we&nbsp;can also work with you to&nbsp;create a&nbsp;payment plan that suits your needs.",
      },
      {
        title: "Satisfaction Guarantee",
        text: "We&nbsp;stand behind our services and are committed to&nbsp;ensuring that you are completely satisfied with the final product. If&nbsp;for any reason you are not happy with our services, we&nbsp;will work with you to&nbsp;make it&nbsp;right or&nbsp;provide a&nbsp;full refund.",
      },
    ]
  section.our-pricing
    .container
      .our-pricing__grid
        .our-pricing__text
          +titles-set(titles)
          .our-pricing__paragraphs
            p At&nbsp;VRNas, we&nbsp;believe that everyone should have access to&nbsp;the benefits of&nbsp;VR. That&rsquo;s why we&nbsp;offer a&nbsp;range of&nbsp;pricing options to&nbsp;meet the needs of&nbsp;any budget.
        .our-pricing__canvas-wrapper
          .our-pricing__light
            +icon("light-pricing", "100%", "100%", true)
          +canvas-grey()
            .our-pricing__canvas-grid
              ul.our-pricing__list
                each item in features
                  li.our-pricing__item
                    +icon("cloud", "42", "42", true)
                    .our-pricing__item-title!= item.title
                    .our-pricing__item-text!= item.text
              .our-pricing__picture-wrapper
                +picture(
                  "content/our-pricing",
                  "image",
                  "png",
                  "360",
                  "520",
                  "Опять чувак в виар-очках."
                )
              +card-price()
