mixin partners-block()
  -
    const titles = {
      colorful: "Our Trusted Partners",
      title: "Discover the Companies We Work With",
      center: true,
    }

  section.partners-block(data-scroll)&attributes(attributes)
    .container
      .partners-block__grid
        +titles-set(titles)
        +partners()
