mixin simple-intro(breadcrumbs, title)

  section.simple-intro&attributes(attributes)
    .simple-intro__light
      .simple-intro__light-overflow
        +icon("light-simple-intro", "449", "147", true)
    .container
      .simple-intro__grid
        h1.title.title--h1!= title
        +breadcrumbs(breadcrumbs)
