mixin team()
  -
    const titles = {
      colorful: "OUR TEAM",
      title: "Our Professionals Team",
    }
  -
    const persons = [
      {
        path: "content/team",
        name: "bondan",
        format: "png",
        width: "275",
        height: "370",
        alt: "teammate Bondan Prabowo.",
        person: "Bondan Prabowo",
        post: "CEO",
      },
      {
        path: "content/team",
        name: "bayu",
        format: "png",
        width: "275",
        height: "370",
        alt: "teammate Bondan Prabowo.",
        person: "Bayu Aji",
        post: "VR Development",
      },
      {
        path: "content/team",
        name: "agung",
        format: "png",
        width: "275",
        height: "370",
        alt: "teammate Bondan Prabowo.",
        person: "Agung Brandon",
        post: "VR Artist",
      },
      {
        path: "content/team",
        name: "aril",
        format: "png",
        width: "275",
        height: "370",
        alt: "teammate Bondan Prabowo.",
        person: "Aril Laso",
        post: "UI / UX Designer",
      },
    ]


  .team
    .container
      .team__grid
        +titles-set(titles)
        +btn({href: "#", text: "see all", isExternal: true}).btn--transparent
        .team__swiper
          ul.team__list
            each person in persons
              li.team__slide
                .team__card
                  +picture(person.path, person.name, person.format, person.width, person.height, person.alt)
                  .team__person
                    .team__name!= person.person
                    .team__post!= person.post

