mixin video-block()
  -
    const video = {
      src: "img/video/ee.mp4",
      poster: "img/video/poster@2x.webp",
      tag: "VR Service",
      description: "How to get started",
    }
  -
    const titles = {
      colorful: "HOW TO GET STARTED",
      title: "Bringing Your Virtual Reality Dreams to&nbsp;Life",
      center: true,
    }
  section.video-block
    .container
      .video-block__grid
        +titles-set(titles)
        +video(video)

        +btn({text: "get started", href: "#", isExternal: true})
