.about-us-block {
  .section__picture-wrapper {
    @include vp-767 {
      &::before {
        translate: -40% 0;
      }

      img {
        width: 80%;
        margin-left: auto;
        margin-right: 20px;
      }
    }
  }

  .section__light {
    top: 120px;
  }

  .section__movable {
    justify-content: start;
  }
}
