.about-us-block {
  .section__picture-wrapper {
    @include vp-767 {
      &::before {
        translate: -40% 0;
      }

      .section__picture > img {
        width: 80%;
        margin-right: 20px;
        margin-left: auto;
      }
    }
  }

  .section__movable {
    right: unset;
    left: 0;
  }
}
