.accordion {
  display: flex;
  flex-direction: column;
  gap: 36px;

  &__element.is-active > &__button {
    &::before {
      background-position-x: 4%;
      transform: rotate(180deg);
    }
  }

  &__button {
    position: relative;
    width: 100%;
    padding: 12px 0;
    padding-right: 75px;
    font-family: $ff-chakra;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    text-align: left;
    color: $color-default-white;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 50px;
      background: url("../img/svg/Vector.svg") no-repeat center right;
      background-position-x: 96%;
    }


    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.35);
    }
  }

  &__wrapper {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    p {
      margin: 0;
      margin-top: 12px;
    }
  }
}
