.accordion {
  display: flex;
  flex-direction: column;
  gap: 36px;

  &__element.is-active > &__button {
    &::before {
      background-position-x: 4%;
      transform: rotate(180deg);
    }
  }

  &__button {
    position: relative;

    width: 100%;
    padding: 12px 0;
    padding-right: 75px;

    font-family: $ff-chakra;
    font-style: normal;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
    text-align: left;
    color: $color-default-white;

    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 50px;
      height: 100%;

      background: url("../img/svg/Vector.svg") no-repeat center right;
      background-position-x: 96%;
    }


    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: rgba(255, 255, 255, 0.35);
    }
  }

  &__wrapper {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;

    p {
      margin: 0;
      margin-top: 12px;
    }
  }
}
