.article-preview {
  display: grid;
  grid-template-columns: calc(102/332*100%) calc(214/332*100%);

  align-items: start;
  gap: 15px;

  transition: opacity $trans-default;

  @include vp-767 {
    grid-template-columns: calc(102/398*100%) calc(214/398*100%);
  }

  @include hover-focus {
    outline-offset: 2px;
    opacity: 0.8;
  }

  &__pic {
    position: relative;

    background-color: $color-purple;

    clip-path: inset(1px 1px);

    &::before {
      content: "";

      display: block;
      padding-top: calc(66/102*100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;

      user-select: none;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 6px;
  }

  &__title {
    overflow: hidden;

    font-size: 12px;
    line-height: 20px;
    font-weight: 400;

    -webkit-box-orient: vertical;
    /* stylelint-disable-next-line */
    box-orient: vertical;
    /* stylelint-disable-next-line */
    display: -moz-box;
    /* stylelint-disable-next-line */
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }

  .property {
    display: block;
  }
}
