.article {
  position: relative;
  z-index: 0;

  @include vp-1023 {
    overflow-x: hidden;
  }

  @include vp-767 {
    overflow-x: visible;
  }

  &::before {
    @include vp-767 {
      content: "";
      position: absolute;
      top: -20px;
      left: 50%;
      z-index: -1;

      width: 300px;
      max-width: 100%;
      aspect-ratio: 300/98;

      background: url("../img/svg/lights/light-article.svg") no-repeat center;
      background-size: 100% 100%;
      transform: translate(-50%, 0) translateZ(0);
      filter: blur(55px);
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;

    @include vp-767 {
      .title-colorful {
        margin-top: 4px;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 66% 28%;
    gap: 50px;

    justify-content: space-between;

    @include vp-1023 {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 100px;
    }
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    img:not(.article__social-icon) {
      max-height: 528px;
      object-fit: contain;

      margin-bottom: 6px;

      user-select: none;

      @include vp-1023 {
        margin: 0;
      }
    }

    @include vp-1023 {
      width: 90%;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &__mini-pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 34px;

    padding: 56px 0 52px;

    @include vp-1023 {
      gap: 24px;

      padding: 26px 0;
    }

    @include vp-767 {
      gap: 16px;

      padding: 8px 0;
    }

    img {
      height: 100%;
      max-height: 252px;
      object-fit: cover;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include vp-767 {
      gap: 24px;
    }
  }

  .title.title--h3 {
    margin-bottom: 12px;
  }

  &__hashtags,
  &__hashtags > p {
    display: inline-block;
    margin: 0;

    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: transparent;

    background: $gradient;
    background-clip: text;
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;

    transition: opacity $trans-default;


    @include hover-focus {
      outline-offset: 4px;
      opacity: 0.8;
    }

    & > svg,
    & > img {
      max-width: 23px;
      max-height: 23px;
      margin: 0;
    }
  }

  &__aside-wrapper {
    @include vp-1023 {
      position: absolute;
      top: 0;
      right: 0;

      width: 50%;
      padding: 24px;

      background-color: $color-default-black;
      border: 1px solid $color-border-gray;
      border-right: none;

      transition: translate $trans-default;
      translate: 80% 0;

      &:hover::before {
        opacity: 0.8;
      }

      &::before {
        content: "←";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        display: grid;
        justify-content: center;
        width: 44px;
        height: 44px;

        cursor: pointer;
      }

      &.is-open {
        translate: 0;

        &::before {
          content: "→";
        }
      }

      &.is-closed {
        translate: 80% 0;

        &::before {
          content: "←";
        }
      }
    }

    @include vp-767 {
      position: static;
      translate: unset;

      width: 100%;
      padding: 0;

      border: none;

      &::before {
        display: none;
      }
    }
  }

  .aside {
    position: sticky;
    top: 120px;

    background-color: $color-default-black;

    @include vp-767 {
      position: static;
      top: unset;
    }
  }
}
