.article {
  position: relative;

  &__light {
    display: none;

    @include vp-767 {
      z-index: -1;
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: start;
      justify-content: center;

      svg {
        filter: blur(55px);
      }
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 66% 28%;
    gap: 50px;
    justify-content: space-between;

    @include vp-1023 {
      grid-template-columns: 68% 30%;
      gap: 10px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 100px;
    }
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  img {
    max-height: 528px;
    object-fit: contain;
    margin-bottom: 6px;

    @include vp-1023 {
      margin: 0;
    }
  }

  &__mini-pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 34px;
    padding: 56px 0 52px;

    @include vp-1023 {
      gap: 24px;
      padding: 26px 0;
    }

    @include vp-767 {
      gap: 16px;
      padding: 8px 0;
    }

    img {
      max-height: 252px;
      object-fit: cover;
      height: 100%;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include vp-767 {
      gap: 24px;
    }
  }

  .title.title--h3 {
    margin-bottom: 12px;
  }

  &__hashtags {
    margin: 0;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    background: $gradient;
    background-clip: text;
    color: transparent;
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__social-link {
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      max-height: 23px;
      max-width: 23px;
    }
  }
}
