.block-partners {
  &__grid {
    display: flex;
    flex-direction: column;
    gap: 58px;
  }

  .titles-set {
    text-align: center;
  }

  .partners {
    max-width: 1056px;
    margin: 0 auto;
  }
}
