.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 26px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;

  @include vp-767 {
    flex-wrap: nowrap;
    overflow: hidden;

    li:last-child {
      overflow: hidden;
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__item {
    position: relative;

    &:not(:last-child)::before {
      content: "";
      position: absolute;
      right: -24px;
      top: 50%;
      translate: 0 -50%;
      width: 18px;
      height: 18px;
      background-image: url("../img/svg/crumb.svg");
      background-position: center;
    }
  }

  &__link {
    display: block;
    padding: 4px 0;

    &--span {
      font-weight: 400;
    }
  }
}
