.btn {
  position: relative;

  display: inline-flex;
  flex-shrink: 0;
  padding: 18px 38px;

  font-family: $ff-chakra;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  background-image: $gradient;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  user-select: none;

  &--transparent {
    background: rgba(255, 255, 255, 0.06);
    border-width: 1px;
    border-style: solid;
    border-image: $gradient;
    border-image-slice: 1;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
