.btn {
  position: relative;
  display: inline-flex;
  padding: 18px 38px;
  flex-shrink: 0;
  font-family: $ff-chakra;
  color: $color-default-white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-image: $gradient;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: opacity $trans-default;

  &--transparent {
    border-width: 1px;
    border-style: solid;
    border-image: $gradient;
    border-image-slice: 1;
    background: rgba(255, 255, 255, 0.06);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
