.btn {
  display: inline-flex;
  padding: 18px 38px;

  font-family: $ff-chakra;
  color: $color-default-white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-image: $gradient;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
