.canvas-grey {
  border-width: 1px;
  border-style: solid;
  border-image: $gradient-card;
  border-image-slice: 1;

  &__inner {
    padding: 1px;
    height: 100%;
    background-color: $color-greyscale-black-80;
  }
}
