.card-price {
  text-align: center;

  border-width: 1px;
  border-style: solid;
  border-image: $gradient;
  border-image-slice: 1;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;

    background-color: $color-greyscale-black-80;
  }

  &__top-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $color-default-gray;
  }

  &__price {
    font-size: 60px;
    line-height: 66px;
    font-weight: 600;
    color: $color-default-white;
  }

  .btn {
    margin-top: 14px;
  }

  &__botton-text {
    margin-top: 14px;

    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
  }
}
