.choose-us {
  .section__grid {
    grid-template-columns: 5fr 5.3fr;
  }

  .section__picture-wrapper {
    height: unset;

    .section__img {
      translate: 100px 0;

      @include vp-1279 {
        translate: unset;
      }
    }

    @include vp-767 {
      order: -1;
      margin-top: 0;
      margin-bottom: 46px;

      .section__picture {
        .section__img {
          width: 418px;
          height: unset;
          margin-right: auto;
          margin-left: auto;
        }
      }

      .section__movable {
        margin-right: 50px;
      }
    }
  }
}
