.choose-us {
  .section__grid {
    grid-template-columns: 5fr 5.3fr;
  }

  .section__picture-wrapper {
    height: unset;

    @include vp-767 {
      order: -1;
      margin: 0 -11px 46px;
      width: calc(100% + 22px);
    }

    img {
      translate: 100px 0;

      @include vp-1279 {
        translate: unset;
      }
    }

    &::before {
      translate: -32% 0;

      @include vp-1279 {
        translate: -50% 0;
      }
    }
  }
}
