.custom-input,
.custom-textarea {
  position: relative;

  &__input-wrapper {
    position: relative;

    display: flex;

    button {
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;

      background: rgba(255, 255, 255, 0.21);
      border: none;
      cursor: pointer;

      transition: opacity $trans-default;

      @include hover-focus {
        opacity: 0.8;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 14px;

    width: 24px;
    height: 24px;
    translate: 0 -50%;

    @media (max-width: 350px) {
      display: none;
    }
  }

  input,
  textarea {
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px;

    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: $color-default-white;

    background: rgba(255, 255, 255, 0.07);
    border: none;
    border-radius: 2px;

    transition: opacity $trans-default;

    &::placeholder {
      color: $color-default-white;
    }

    @include hover {
      opacity: 0.8;
    }

    @include focus {
      outline: 2px solid $color-default-white;
    }
  }

  input[type="email"] {
    padding: 14px 56px 14px 46px;

    @media (max-width: 350px) {
      padding: 14px 56px 14px 6px;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      outline: 2px solid #d9ff00;
      outline-offset: 0;
    }
  }

  &.is-valid {
    input {
      outline: 2px solid #00ff80;
      outline-offset: 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .input-message {
    position: absolute;
    right: 74px;
    bottom: 5px;

    font-size: 20px;
    line-height: 28px;
    font-weight: 500;

    @include vp-1279 {
      right: 50px;
    }

    @include vp-1023 {
      right: 34px;
      bottom: 2px;

      font-size: 18px;
    }

    @include vp-767 {
      right: 16px;
      bottom: 0;

      font-size: 16px;
    }

    &.is-invalid {
      color: #d9ff00;
    }

    &.is-valid {
      color: #00ff80;
    }
  }
}
