.custom-input,
.custom-textarea {
  &.is-invalid {
    input,
    textarea {
      outline: 2px solid #d9ff00;
      outline-offset: 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &.is-valid {
    input {
      outline: 2px solid #00ff80;
      outline-offset: 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .input-message {
    position: absolute;
    right: 74px;
    bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    @include vp-1279 {
      right: 50px;
    }

    @include vp-1023 {
      font-size: 18px;
      bottom: 2px;
      right: 34px;
    }

    @include vp-767 {
      font-size: 16px;
      right: 16px;
      bottom: -30px;
    }

    &.is-invalid {
      color: #d9ff00;
    }

    &.is-valid {
      color: #00ff80;
    }
  }
}
