.footer {
  position: relative;

  padding-top: 82px;

  @include vp-1023 {
    padding-top: 40px;
  }

  @include vp-767 {
    padding-top: 42px;
  }

  .logo {
    flex-shrink: 0;
    align-self: start;
    padding-top: 0;

    @include vp-1023 {
      padding: 6px 0;
    }
  }

  &__grid {
    display: flex;
    gap: 20px;

    padding-bottom: 33px;

    @include vp-1023 {
      display: grid;
      grid-template-columns: 2fr 2fr 3fr;
    }

    @include vp-767 {
      grid-template-columns: 4fr 5fr;

      padding-bottom: 8px;
    }
  }

  &__first-column {
    display: flex;
    flex-shrink: 2;
    flex-basis: 402px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 35px;
    gap: 40px;

    @include vp-1023 {
      grid-column: 1/-1;

      flex-direction: row;
      align-items: center;
    }
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include vp-1023 {
      justify-content: end;
    }
  }

  &__social-link {
    flex-shrink: 0;
    width: 46px;
    height: 46px;

    line-height: 0;

    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-top: 2px;

    @include vp-767 {
      padding-bottom: 40px;
    }


    &--second {
      flex-basis: 214px;
    }

    &--third {
      flex-basis: 198px;
    }

    &--fourth {
      flex-basis: 320px;

      @include vp-767 {
        grid-column: 1/-1;
      }
    }
  }

  &__section-title {
    margin: 0;

    font-size: $fz-default;
    line-height: 28px;
    font-weight: 600;
    color: $color-default-white;
  }

  &__links-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    list-style-type: none;
    gap: 16px;
  }

  &__item {
    display: flex;
    align-items: center;

    svg {
      flex-shrink: 0;
      order: -1;
      margin-top: 6px;
    }
  }

  &__link {
    display: flex;
    gap: 8px;

    color: inherit;

    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__copy {
    position: relative;

    padding: 32px 0 40px;

    text-align: center;

    @include vp-767 {
      padding-bottom: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-image: $gradient;
      opacity: 0.5;
    }
  }

  &__waves {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 70.2%;
    height: 100%;
    overflow: hidden;

    @include vp-1023 {
      width: 86%;
    }

    @include vp-767 {
      width: 100%;
      height: 314px;

      svg {
        min-width: 637px;
      }
    }
  }
}
