.header {
  color: $color-default-white;
  transition: height $trans-default;
  z-index: 2;

  &--sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
  }

  .header__for-blur {
    padding: 30px 0 32px;
    transition: height $trans-default, filter $trans-default;

    @include vp-1023 {
      padding: 30px 0 20px;
    }

    @include vp-767 {
      padding: 30px 0 10px;
      height: 93px;

      .container {
        height: 100%;
      }
    }

    &--blured {
      background-color: $color-default-black;
      filter: blur(5px);
    }
  }

  &__wave {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(736/1440*100%);
    height: 354px;
    pointer-events: none;
    transition: height $trans-default, width $trans-default;
    overflow: hidden;

    @include vp-1023 {
      width: 75%;
    }

    @include vp-767 {
      width: 99%;
      height: 206px;
    }

    img {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &--opaque {
    background-color: $color-default-black;

    .header__wave {
      height: 100%;

      @include vp-767 {
        height: 93px;
      }
    }
  }

  .logo {
    flex-shrink: 0;

    @include vp-767 {
      margin-top: 3px;
      align-self: start;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 106px 1fr;
    gap: 60px;
    align-items: start;

    @include vp-767 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
      height: 100%;
    }
  }


  &__nav {
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 20px;

    @include vp-767 {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: stretch;
      gap: 10px;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;

      transition:
        visibility $trans-default,
        opacity $trans-default;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    gap: 4px 18px;
    list-style: none;

    @include vp-767 {
      flex-direction: column;
      justify-content: start;
      flex-wrap: nowrap;
      overflow: auto;
    }
  }

  &__item {
    flex-shrink: 0;
  }

  &__link {
    display: block;
    padding: 11px 23px;

    &--gradient-border {
      border-width: 1px;
      border-style: solid;
      border-image: $gradient;
      border-image-slice: 1;
    }

    @include hover-focus {
      opacity: 0.8;
    }

    &.is-active {
      font-weight: 500;

      @include hover-focus {
        opacity: 1;
        cursor: default;
      }
    }
  }

  &__toggle {
    display: none;

    @include vp-767 {
      position: absolute;
      top: 12px;
      right: 0;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border-width: 1px;
      border-style: solid;
      border-image: $gradient;
      border-image-slice: 1;
    }
  }


  /////////// / / /               IS OPEN
  &.is-open {
    .header__for-blur {
      height: 100vh;
      /* stylelint-disable-next-line */
      height: 100dvh;
      background-color: $color-default-black;
    }

    .header__nav {
      opacity: 1;
      visibility: visible;
      background-color: $color-default-black;
    }

    .header__toggle {
      svg {
        display: none;
      }

      &::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 2px;
        background-color: $color-default-white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        position: absolute;
        content: "";
        width: 18px;
        height: 2px;
        background-color: $color-default-white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    .header__wave {
      height: 0;
    }
  }
}
