.info-card {
  position: relative;
  padding: 1px;
  background: $gradient-card;

  &__wrapper {
    width: 100%;
    height: 100%;
    padding: 38px 32px 25px;
    background-color: $color-greyscale-black-80;
  }

  &__icon {
    width: 48px;
    height: 48px;

    svg {
      display: block;
      line-height: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    color: $color-default-white;
  }

  &__text {
    margin: 0;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;

    /* stylelint-disable-next-line */
    box-orient: vertical;
    -webkit-box-orient: vertical;
    /* stylelint-disable-next-line */
    display: -moz-box;
    /* stylelint-disable-next-line */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  &__btn-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
  }

  &:hover,
  &:focus {
    background-image: $gradient;

    .info-card__btn-wrapper {
      display: flex;
    }

    .info-card__wrapper {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, rgba(37, 37, 50, 0) 0%, rgba(37, 37, 50, 0.91) 53.06%, #252532 100%);
      }
    }
  }
}
