.info-choose-us {
  .container {
    @include vp-1024 {
      padding-right: 36px;
    }
  }

  &__grid {
    position: relative;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    @include vp-1023 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
      grid-template-areas:
        "title title"
        "acc pic";
      gap: 20px;
      padding: 0;
      min-height: unset;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      padding-top: calc(492/(430 - 32) * 100%);
    }
  }

  &__picture-part {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: end;

    @include vp-1023 {
      position: relative;
      grid-area: pic;
      width: 100%;
    }

    @include vp-767 {
      order: -1;
      position: absolute;
      top: 0;
      left: 50%;
      right: unset;
      transform: translateX(-50%);
      width: calc(418/430*100vw);
      height: 0;
      padding-top: calc(492/(430 - 32) * 100%);
      justify-content: center;
      align-items: end;
    }
  }

  &__light {
    position: absolute;
    right: -20px;
    top: 231px;
    height: 365px;
    width: 102%;
    filter: blur(105px);
    opacity: 0.5;

    @include vp-1023 {
      top: 100px;
    }

    @include vp-767 {
      width: 96%;
      right: 0;
    }
  }

  &__picture-wrapper {
    position: relative;
    max-height: 662px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    @include vp-767 {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      justify-content: center;
      align-items: end;
      max-height: unset;
    }

    picture {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: start;

      @include vp-1023 {
        justify-content: end;
        align-items: end;
      }

      @include vp-767 {
        justify-content: center;
        align-items: end;
      }
    }

    img {
      object-fit: contain;
      max-height: 662px;
      height: 100%;
      width: auto;

      @include vp-767 {
        max-height: unset;
        width: 100%;
        height: auto;
      }
    }

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      right: 104px;
      bottom: 0;
      width: 71%;
      height: 75%;
      background-color: $color-greyscale-black-80;

      @include vp-767 {
        right: 78px;
      }
    }
  }


  &__accordion-wrapper {
    margin-top: 20px;
    width: calc(548/(1200 + (120 - 36)) * 100%);

    @include vp-1023 {
      grid-area: acc;
      width: 100%;
    }

    @include vp-767 {
      margin: 0;
    }
  }

  &__title-part {
    padding-top: 90px;
    width: calc(548/(1200 + (120 - 36)) * 100%);
    grid-area: title;


    @include vp-1023 {
      padding: 0;
      width: 100%;
    }

    @include vp-767 {
      padding-top: 70px;
    }
  }

  &__title {
    margin-top: 8px;
    text-wrap: pretty;

    @include vp-767 {
      margin-top: 10px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style-type: none;
    font-weight: 400;
    color: $color-default-white;
  }

  &__item {
    display: flex;
    gap: 12px;
  }

  &__item-icon {
    width: 16px;
    height: 28px;

    display: flex;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__btn {
    margin-top: 32px;
  }
}
