.info-about-us-index {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "pic title"
      "pic txt";
    column-gap: 3.7%;

    @include vp-1023 {
      grid-template-areas:
        "title title"
        "pic txt";
      gap: 20px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__picture-part {
    position: relative;
    grid-area: pic;

    @include vp-767 {
      padding: 0 4px;
    }
  }

  &__light {
    position: absolute;
    left: -60px;
    bottom: 120px;
    width: calc(608/577.8*100%);
    height: calc(365/645*100%);
    filter: blur(105px);
    opacity: 0.5;
  }

  &__picture-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 23px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;

    @include vp-767 {
      position: static;
    }

    picture {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: end;
    }

    img {
      object-fit: contain;
      max-height: 100%;
      width: auto;
      margin-left: -12px;

      @include vp-767 {
        margin-left: 32px;
      }
    }

    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 69%;
      height: 80%;
      background-color: $color-greyscale-black-80;
    }
  }

  &__title-part {
    padding-top: 78px;
    grid-area: title;

    @include vp-1023 {
      padding: 0;
    }

    @include vp-767 {
      padding-top: 48px;
    }
  }

  &__text-part {
    padding-bottom: 15px;
    grid-area: txt;

    @include vp-767 {
      padding-bottom: 0;
    }

    p {
      margin: 0;
      margin-top: 12px;
      max-width: 528px;

      @include vp-1023 {
        max-width: 100%;
      }

      @include vp-767 {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &__title {
    margin-top: 8px;
    text-wrap: pretty;

    @include vp-767 {
      margin-top: 10px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style-type: none;
    font-weight: 400;
    color: $color-default-white;
  }

  &__item {
    display: flex;
    gap: 12px;
  }

  &__item-icon {
    width: 16px;
    height: 28px;

    display: flex;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__btn {
    margin-top: 32px;
  }
}
