.intro-about-us {
  position: relative;

  &__grid {
    position: relative;
    padding: 78px 0 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    @include vp-767 {
      padding: 64px 0 62px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: $gradient;
      opacity: 0.5;
    }
  }

  .title.title--h1 {
    @include vp-767 {
      font-size: 40px;
      line-height: 1.3;
      letter-spacing: -0.2px;
    }
  }

  &__light {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      translate: 0 3%;
      filter: blur(55px);

      @include vp-1023 {
        width: 374px;
      }

      @include vp-767 {
        width: 299px;
      }
    }
  }
}
