.intro {
  position: relative;

  padding-top: 14px;

  &__grid {
    position: relative;

    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 0 4%;
    grid-template-areas:
      "title pic"
      "txt pic";
    grid-template-rows: min-content 1fr;

    align-items: start;

    @include vp-1023 {
      grid-template-areas:
        "title title"
        "txt pic";
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: stretch;
      gap: 0;
    }
  }

  .title {
    grid-area: title;

    padding-top: 72px;

    @include vp-1023 {
      padding-top: 50px;
    }

    @include vp-767 {
      padding-top: 34px;
    }
  }

  .text-content {
    grid-area: txt;

    height: 100%;
    padding-top: 12px;
    padding-bottom: 52px;

    @include vp-1023 {
      padding-bottom: 12px;
    }

    @include vp-767 {
      padding-bottom: 0;
    }

    p {
      max-width: 446px;

      @include vp-767 {
        max-width: 100%;
      }
    }
  }

  &__clients {
    position: relative;

    display: grid;
    grid-template-columns: 128px 1fr;

    max-width: 320px;
    margin-top: 82px;

    gap: 18px;

    @include vp-1023 {
      max-width: unset;
    }

    @include vp-767 {
      position: unset;

      margin-top: 32px;
      margin-bottom: 40px;
    }
  }

  &__photos {
    display: flex;

    & > * {
      flex-shrink: 0;
    }

    & > *:nth-child(n + 2) {
      margin-left: -11px;
    }

    & > *:nth-child(n + 4) {
      display: none;
    }

    img {
      width: 50px;
      height: 50px;

      border-radius: 50%;

      user-select: none;
    }
  }

  &__photos-description {
    z-index: 1;
  }

  &__how-many {
    position: relative;

    display: inline-flex;
    margin-top: 10px;
    margin-right: 4px;

    font-weight: 600;
    color: $color-default-white;

    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 50%;

      width: 48px;
      height: 7px;

      background: url("../img/svg/stroke.svg") no-repeat;
      transform: translate(-50%, 0);
    }
  }

  &__movable {
    position: absolute;
    top: -38px;
    left: 354px;

    width: 196px;
    height: 128px;

    @include vp-1023 {
      position: static;

      margin-top: 20px;
      grid-column: 1/-1;
    }

    @include vp-767 {
      position: absolute;
      top: unset;
      bottom: 144px;
      left: 0;

      grid-column: unset;

      width: 196px;
      height: 128px;
      margin-top: unset;
    }

    @include vp-374 {
      bottom: 60px;
    }

    img {
      width: 196px;
      height: 128px;

      user-select: none;
      object-fit: cover;
    }
  }

  &__picture-wrapper {
    position: relative;
    z-index: -2;

    height: 100%;
    grid-area: pic;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 13%;
      z-index: -1;

      width: calc(567/576*100%);
      max-width: 100%;
      padding-bottom: calc(340/567*100%);

      background: url("../img/svg/lights/light.svg") no-repeat;
      background-position-x: 20px;
      background-size: 100% 100%;
      transform: translateZ(0);
      filter: blur(105px);

      @include vp-767 {
        background-position-x: 160px;
      }
    }
  }

  &__picture {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    overflow-x: hidden;

    @include vp-767 {
      justify-content: center;
      margin-top: -45px;
      margin-right: -16px;
      margin-left: -16px;
    }

    img {
      max-height: 626px;
      margin-top: auto;

      user-select: none;
      object-fit: contain;


      @include vp-767 {
        max-height: 422px;
        translate: 156px 0;
      }
    }
  }
}
