.intro {
  position: relative;
  padding-top: 13px;

  &__grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 12px 4%;
    grid-template-areas:
      "title pic"
      "txt pic";
    grid-template-rows: min-content 1fr;
    align-items: start;

    @include vp-1023 {
      position: relative;
      grid-template-areas:
        "title title"
        "txt pic";
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: stretch;
      gap: 0;
    }
  }

  .title {
    grid-area: title;
    padding-top: 72px;

    @include vp-1023 {
      padding-top: 0;
    }

    @include vp-767 {
      padding-top: 48px;
    }
  }

  .text-content {
    position: relative;
    grid-area: txt;
    padding-bottom: 40px;

    @include vp-1023 {
      position: static;
    }

    @include vp-767 {
      margin-top: 12px;
    }

    p {
      max-width: 446px;

      @include vp-767 {
        max-width: 100%;
      }
    }
  }

  &__clients {
    margin-top: 81px;
    display: flex;
    gap: 18px;
    align-items: center;

    @include vp-767 {
      margin-top: 32px;
    }
  }

  &__photos {
    display: flex;

    & > * {
      flex-shrink: 0;
    }

    & > *:nth-child(n + 2) {
      margin-left: -11px;
    }

    & > *:nth-child(n + 4) {
      display: none;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      user-select: none;
    }
  }

  &__photos-description {
    display: flex;
    gap: 4px;
  }

  &__how-many {
    position: relative;
    color: $color-default-white;
    font-weight: 600;

    &::after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: 2px;
      width: 48px;
      height: 7px;
      background: url("../img/svg/stroke.svg") no-repeat;
      transform: translate(-50%, 0);
    }
  }

  &__movable {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 96%;
    height: 66%;
    display: flex;
    justify-content: end;
    align-items: end;
    pointer-events: none;

    @include vp-1023 {
      margin: 0;
      justify-content: end;
      align-items: end;
      width: 80%;
      height: 500px;
    }

    @include vp-767 {
      height: 400px;
      width: 100%;
      justify-content: start;
      align-items: center;
    }

    img {
      width: 196px;
      height: 128px;
      object-fit: cover;
      user-select: none;
    }
  }

  &__picture-wrapper {
    position: relative;
    grid-area: pic;
    height: 100%;
  }

  &__picture {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    min-height: 200px;
    overflow-x: hidden;

    @include vp-767 {
      justify-content: center;
      margin-top: -45px;
      margin-left: -16px;
      margin-right: -16px;
    }

    img {
      margin-top: auto;
      width: 100%;
      max-height: 626px;
      object-fit: contain;
      user-select: none;

      @include vp-767 {
        max-height: 422px;
        translate: 156px 0;
      }
    }
  }

  &__light {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(567/576*100%);
    max-width: 100%;
    filter: blur(105px);

    @include vp-767 {
      margin-right: -16px;
      margin-left: -16px;
    }

    &::before {
      content: "";
      display: block;
      padding-bottom: calc(340/567*100%);
    }
  }

  &__light-overflow {
    position: absolute;
    bottom: 24%;
    right: 0;
    width: 100%;
    height: 100%;

    @include vp-767 {
      bottom: 20%;
      overflow: hidden;
    }

    svg {
      position: absolute;
      top: 0;
      right: -20px;
      width: 100%;
      height: 100%;

      @include vp-767 {
        right: -140px;
      }
    }
  }
}
