.logo {
  display: inline-block;
  flex-shrink: 0;
  padding: 10px 0;

  line-height: 0;

  user-select: none;

  img {
    width: 101px;
    height: 30px;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--is-active {
    @include hover-focus {
      opacity: 1;
    }
  }
}
