.partners {
  position: relative;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;

  &::before {
    content: "";
    display: block;
    padding-top: calc(740/1055*100%);
  }

  &__rainbow-wrapper {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  &__rainbow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &__round {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(454/1056*100%);
    border: 1px solid $color-border-gray;
    border-radius: 50%;
    background: $color-greyscale-black-80;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  &__light {
    position: absolute;
    top: 22%;
    left: 23%;
    width: calc(618/1056*100%);
    filter: blur(105px);
  }

  $for-partners-mask: 70.4%;

  &__picture-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(708/1056*100%);
    clip-path: inset(1px 1px);
    mask-image: url("../img/sprite/mask-group.svg");
    mask-repeat: no-repeat;
    mask-position: bottom;
    mask-size: contain;

    overflow: hidden;

    &::before {
      content: "";
      display: block;
      padding-bottom: calc(555/708*100%);
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      object-fit: contain;
    }
  }

  &__mask {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(454/1056*100%);
    background-image: radial-gradient(circle at 50% -67%,
      transparent 0 $for-partners-mask,
      $color-border-gray $for-partners-mask calc($for-partners-mask + 1px),
      $color-default-black calc($for-partners-mask + 1px) 100%
    );

    &::before {
      content: "";
      display: block;
      padding-top: 30%;
    }
  }

  &__gradient-dark {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(200/740*100%);
    width: 100%;
    background: #18181b;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 0;
      left: 0;
      height: calc(80/280*100%);
      background: linear-gradient(180deg, rgba(24, 24, 27, 0) 0%, rgba(24, 24, 27, 0.68) 52%, #18181b 100%);
    }
  }

  &__elements {
    $vertical-distance: calc(15/740*100%);
    $horisontal-distance: calc(15/1056*100%);

    position: absolute;
    top: $vertical-distance;
    left: $horisontal-distance;
    right: $horisontal-distance;
    pointer-events: none;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    svg {
      position: absolute;
      bottom: 50%;
      left: 0;
      width: 102px;
      height: 102px;
    }
  }

  &__element-wrapper {
    position: absolute;
    top: 50%;
    height: calc(102/1026*100%);
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: stretch;
    transform-origin: 100% 50%;
    translate: 0 -50%;

    transform: rotate(40deg);
  }

  &__icon-wrapper {
    position: relative;
    width: calc(102/1026*200%);
    transform: rotate(-40deg);

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
