.personalisation {
  &__list {
    padding: 41px 5.25% 52px;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(50/1200*100%);
    border: 1px solid $color-border-gray;
    background-color: $color-greyscale-black-80;

    @include vp-1023 {
      grid-template-columns: 1fr 1fr;
      padding: 36px;
      row-gap: 50px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }

  &__item {
    &:nth-child(3n) {
      @include vp-1023 {
        grid-column: 1/-1;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
    display: flex;
  }

  &__title {
    margin-top: 42px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    color: $color-default-white;
  }

  &__text {
    margin: 0;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
  }
}
