.section {
  position: relative;

  &__grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 6.3fr 5fr;
    gap: 0 70px;
    grid-template-areas:
      "title pic"
      "txt pic";
    grid-template-rows: min-content 1fr;
    align-items: start;

    @include vp-1023 {
      grid-template-areas:
        "title title"
        "txt pic";
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: stretch;
      gap: 0;
    }
  }


  .titles-set {
    grid-area: title;
    padding-top: 50px;

    @include vp-1023 {
      padding-top: 0;
    }

    .title {
      margin-bottom: 16px;
      text-wrap: pretty;
    }
  }

  .text-content {
    grid-area: txt;
  }

  &__picture-wrapper {
    position: relative;
    grid-area: pic;
    height: 100%;

    @include vp-767 {
      margin-top: 48px;
    }

    &::before {
      z-index: -2;
      content: "";
      position: absolute;
      bottom: 34px;
      left: 50%;
      translate: -50% 0;
      height: 80%;
      width: 80%;
      max-width: 400px;
      background-color: $color-greyscale-black-80;

      @include vp-767 {
        bottom: 28px;
      }
    }
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: 100%;
    min-height: 200px;
    padding-bottom: 34px;

    @include vp-767 {
      overflow-x: hidden;
      padding-bottom: 28px;
      width: 100%;
    }

    img {
      margin-top: auto;
      width: 100%;
      object-fit: contain;
      max-height: 700px;
    }
  }

  &__light {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(105px);

    @include vp-767 {
      overflow-x: hidden;
    }

    svg {
      position: absolute;
      top: 50%;
      right: -120px;
      translate: 0 -50%;
      width: 610px;

      @include vp-1279 {
        right: -50px;
        width: 100%;//
      }

      @include vp-1023 {
        right: -24px;
      }

      @include vp-767 {
        right: 50%;
        translate: 50% -50%;
        width: 120%;
        height: auto;
      }
    }
  }

  &--reverce {
    .section__grid {
      grid-template-areas:
        "pic title"
        "pic txt";
      grid-template-columns: 5.6fr 6fr;

      @include vp-1023 {
        grid-template-areas:
          "title title"
          "pic txt";
      }
    }

    .section__light svg {
      right: unset;
      left: -120px;

      @include vp-1279 {
        left: -50px;
      }

      @include vp-1023 {
        left: -24px;
      }

      @include vp-767 {
        left: 50%;
        translate: -50% -50%;
      }
    }

    .section__picture-wrapper {
      @include vp-767 {
        order: -1;
        margin: 0;
        margin-bottom: 48px;
      }

      &::before {
        left: 40%;
      }
    }
  }
}
