.section {
  .container {
    position: relative;
  }

  &__grid {
    display: grid;
    justify-content: space-between;
    align-items: start;

    grid-template-columns: 6.3fr 5fr;
    gap: 0 70px;
    grid-template-areas:
      "title pic"
      "txt pic";
    grid-template-rows: min-content 1fr;

    @include vp-1023 {
      grid-template-areas:
        "title title"
        "txt pic";
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: stretch;
      gap: 0;
    }
  }


  .titles-set {
    grid-area: title;

    padding-top: 50px;

    @include vp-1023 {
      padding-top: 0;
    }

    .title {
      margin-bottom: 16px;
    }
  }

  .text-content {
    grid-area: txt;
  }

  &__picture-wrapper {
    position: relative;

    height: 100%;

    grid-area: pic;

    @include vp-767 {
      position: relative;

      display: flex;
      justify-content: center;
      margin-top: 48px;
      margin-right: -16px;
      margin-left: -16px;
    }
  }

  &__picture {
    position: relative;
    z-index: -1;

    padding-bottom: 34px;

    &::before {
      content: "";
      position: absolute;
      right: 25px;
      bottom: 34px;
      z-index: -1;

      width: 80%;
      min-width: 310px;
      max-width: 400px;
      height: 80%;

      background-color: $color-greyscale-black-80;
      transform: translateZ(0);

      @include vp-767 {
        bottom: 28px;
      }

      @include vp-429 {
        right: 15px;

        min-width: unset;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -118px;
      z-index: -1;

      width: 110%;

      translate: 0 -50%;

      aspect-ratio: 610 / 366;

      background: url("../img/svg/lights/light-section.svg") no-repeat;
      background-position: center;
      background-size: 100% 100%;
      transform: translateZ(0);
      filter: blur(105px);

      @include vp-1279 {
        right: -46px;
      }

      @include vp-1023 {
        right: 0;
      }

      @include vp-767 {
        left: 50%;

        width: 100%;
        max-width: 430px;

        translate: -50% -40%;
      }
    }

    @include vp-767 {
      padding-bottom: 28px;
    }
  }

  &__img {
    width: 100%;
    min-height: 200px;
    max-height: 700px;
    margin-top: auto;

    user-select: none;
    object-fit: contain;

    @include vp-767 {
      width: auto;
      height: 470px;
    }

    @include vp-374 {
      width: 100%;
      height: auto;
    }
  }

  &__movable {
    position: absolute;
    right: 0;
    bottom: 0;
    left: unset;

    width: 196px;
    height: 128px;
    object-fit: cover;

    user-select: none;

    @include vp-1023 {
      width: 170px;
      height: 110px;
    }

    @include vp-767 {
      width: 155px;
      height: 101px;
    }

    @include vp-374 {
      width: 110px;
      height: unset;
      aspect-ratio: 155 / 101;
    }
  }

  &--reverce {
    .section__picture::before {
      right: unset;
      left: 25px;

      @include vp-429 {
        left: 15px;
      }
    }

    .section__grid {
      grid-template-areas:
        "pic title"
        "pic txt";
      grid-template-columns: 5.6fr 6fr;

      @include vp-1023 {
        grid-template-areas:
          "title title"
          "pic txt";
      }
    }

    .section__picture-wrapper {
      @include vp-767 {
        order: -1;
        margin-top: 0;
        margin-bottom: 48px;
      }
    }

    .section__picture::after {
      right: unset;
      left: -60px;

      @include vp-1279 {
        left: 0;
      }

      @include vp-767 {
        right: unset;
        left: 50%;
      }
    }
  }
}
