.simple-intro {
  position: relative;

  &__grid {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 78px 0 76px;
    gap: 28px;

    @include vp-767 {
      padding: 64px 0 62px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-image: $gradient;
      opacity: 0.5;
    }
  }

  .title.title--h1 {
    @include vp-767 {
      font-size: 40px;
      line-height: 1.3;
      letter-spacing: -0.2px;
    }
  }

  &__light {
    position: absolute;
    top: 53%;
    left: 50%;
    z-index: -1;

    width: 449px;

    filter: blur(55px);
    translate: -50% -50%;

    @include vp-767 {
      top: 50%;

      width: 299px;
    }

    @include vp-429 {
      width: 100%;
    }

    &::before {
      content: "";

      display: block;
      padding-bottom: calc(147/449*100%);
    }
  }

  &__light-overflow {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }
}

