.team {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: end;
    gap: 42px 20px;
    grid-template-areas:
      "title btn"
      "swp swp";

    @include vp-767 {
      gap: 32px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "swp"
        "btn";
    }

    .title {
      margin-bottom: 0;
    }
  }

  .titles-set {
    grid-area: title;

    @include vp-767 {
      text-align: center;
    }
  }

  .btn {
    grid-area: btn;
    justify-self: end;

    @include vp-767 {
      justify-self: center;
    }
  }

  &__swiper {
    grid-area: swp;
  }

  &__list {
    // uncomment
    // display: grid;
    display: flex;//delete
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;

    list-style-type: none;
    // uncomment
    // grid-template-columns: repeat(auto-fit, 292px);
    gap: 10px;

    @include vp-767 {
      margin-top: 0;
      gap: 26px;
    }
  }

  &__slide {
    position: relative;

    width: 292px;//delete

    background-color: rgba(37, 37, 50, 0.6);
    border-width: 1px;
    border-style: solid;
    border-image: $gradient-card;
    border-image-slice: 1;

    transition: border $trans-default;

    &::before {
      content: "";

      display: block;
      padding-top: calc(389/293*100%);
    }

    @include hover-focus {
      border-image: $gradient;
      border-image-slice: 1;
    }

    @include vp-767 {
      width: 100%;
      max-width: 292px;
    }
  }

  &__card {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-default-white;

    picture {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: flex;
      justify-content: center;
      align-items: center;
    }


    img {
      object-fit: contain;

      max-height: 100%;

      user-select: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: linear-gradient(180deg, rgba(50, 70, 188, 0) 0%, #192883 100%);
    }
  }

  &__person {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
    overflow-y: auto;
  }

  &__name {
    margin-top: auto;

    font-weight: 600;
    text-align: center;
    color: $color-default-white;
  }

  &__post {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
  }
}
