.team {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .title {
      margin-bottom: 0;
    }
  }

  &__list {
    margin: 0;
    margin-top: 42px;
    padding: 0;
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 292px);
    gap: 10px;
  }

  &__slide {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-image: $gradient-card;
    border-image-slice: 1;
    background-color: rgba(37, 37, 50, 0.6);

    &::before {
      content: "";
      display: block;
      padding-top: calc(389/293*100%);
    }

    @include hover-focus {
      border-image: $gradient;
      border-image-slice: 1;
    }
  }

  &__card {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-default-white;

    picture {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    img {
      object-fit: contain;
      max-height: 100%;
      user-select: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(50, 70, 188, 0.00) 0%, #192883 100%);
    }
  }

  &__person {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
    overflow-y: auto;
  }

  &__name {
    font-weight: 600;
    color: $color-default-white;
    margin-top: auto;
  }

  &__post {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
}
