.title {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.24px;
  color: $color-default-white;

  @include vp-1023 {
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: -0.2px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: -0.16px;
  }

  &--h1 {
    font-size: 64px;
    line-height: 130%;
    letter-spacing: -0.32px;

    @include vp-1023 {
      font-size: 56px;
      letter-spacing: -0.28px;
    }

    @include vp-767 {
      font-size: 48px;
      line-height: 58px;
      letter-spacing: -0.24px;
    }
  }
}
