mixin article-preview(preview)
  a.article-preview(href=preview.link)
    .article-preview__pic
      +picture(preview.path, preview.name, preview.format, preview.width, preview.height, preview.alt)
    .article-preview__text
      .property.property--little!= preview.property
      .article-preview__title!= preview.title
