mixin article-preview(preview)
  .article-preview
    .article-preview__pic
      +picture(preview.path, preview.name, preview.format, preview.width, preview.height, preview.alt)
    .article-preview__text
      .property.property--preview!= preview.property
      .article-preview__title!= preview.title
