mixin card-price()
  .card-price
    .card-price__inner
      .card-price__top-text Start from
      .card-price__price $99
      +btn({text: "get started", href: "#"})
      .card-price__botton-text 30 Days Moneyback Guarantee
