mixin info-card(card)
  .info-card(tabindex="0")
    +icon(card.icon, 48, 48, true)
    p.info-card__title!= card.title
    p!= card.text
    .info-card__btn-wrapper
      +btn({
          href: "#",
          isExternal: true,
          text: "learn more"
        }).btn--transparent
