mixin logo(index=false)
  if index
    .logo.logo--is-active
      +picture(
        "logo",
        "logo",
        "png",
        "101",
        "30",
        "Логотип.",
      )
  else
    a.logo(href="index.html")
      span.visually-hidden На главную
      +picture(
        "logo",
        "logo",
        "png",
        "101",
        "30",
        "Логотип.",
      )
