mixin partners()
  -
    const icons = [
      "logoipsum1",
      "logoipsum2",
      "logoipsum3",
      "logoipsum4",
      "logoipsum5",
      "logoipsum6",
      "logoipsum7",
    ]
  .partners
    .partners__round
      .partners__mask
    +picture(
      "content/block-partners",
      "image",
      "png",
    )
