mixin partners()
  -
    const icons = [
      "logoipsum1",
      "logoipsum2",
      "logoipsum3",
      "logoipsum4",
      "logoipsum5",
      "logoipsum6",
      "logoipsum7",
    ]

  .partners
    .partners__rainbow-wrapper
      img(src="img/svg/partners/circle.svg", alt="just decorate.", aria-hidden="true", loading="lazy")
    .partners__gradient-dark
    .partners__round
    .partners__light
    .partners__picture-wrapper
      +picture(
        "content/partners-block",
        "image",
        "png",
        "708",
        "555",
        "Симметричный чувак думает.",
        true
      )(loading="lazy")
    .partners__elements
      each icon in icons
        .partners__element-wrapper
          .partners__icon-wrapper
            img(src=`img/svg/partners/logo/${icon}.svg`, width="102", height="102", alt="svg logo of partner.", loading="lazy")

