mixin personalisation()
  .personalisation&attributes(attributes)
    ul.personalisation__list
      li.personalisation__item
        .personalisation__icon
          img(src="img/svg/personalisation/vr-glasses.svg" width="70" height="70" alt="just decorate." aria-hidden="true")
        .personalisation__title Expertise
        .personalisation__text Our team consists of experienced VR developers, designers, and technicians who have a passion for VR and a commitment to delivering quality work and give the best service
      li.personalisation__item
        .personalisation__icon
          img(src="img/svg/personalisation/coub.svg" width="70" height="70" alt="just decorate." aria-hidden="true")
        .personalisation__title Customization
        .personalisation__text Every client is unique, and we believe every VR experience should be too. We'll work with you to create a customized solution that meets your specific needs and goals
      li.personalisation__item
        .personalisation__icon
          img(src="img/svg/personalisation/mask.svg" width="70" height="70" alt="just decorate." aria-hidden="true")
        .personalisation__title Service
        .personalisation__text We believe in providing exceptional customer service, from initial consultation to final delivery. Our goal is to ensure you're satisfied with every aspect of your VR experience.
