mixin personalisation()
  .personalisation&attributes(attributes)
    dl.personalisation__list
      .personalisation__item
        .personalisation__icon
          +icon("vr-glasses", "100%", "100%", true)
        dt.personalisation__title Expertise
        dd.personalisation__text Our team consists of experienced VR developers, designers, and technicians who have a passion for VR and a commitment to delivering quality work and give the best service
      .personalisation__item
        .personalisation__icon
          +icon("coub", "100%", "100%", true)
        dt.personalisation__title Customization
        dd.personalisation__text Every client is unique, and we believe every VR experience should be too. We'll work with you to create a customized solution that meets your specific needs and goals
      .personalisation__item
        .personalisation__icon
          +icon("mask", "100%", "100%", true)
        dt.personalisation__title Service
        dd.personalisation__text We believe in providing exceptional customer service, from initial consultation to final delivery. Our goal is to ensure you're satisfied with every aspect of your VR experience.
