mixin section(titles, pic, movable)
  section.section&attributes(attributes)
    .container

      .section__grid
        +titles-set(titles)
        .text-content
          block
        .section__picture-wrapper
          .section__light
            .section__light-overflow
              +icon("light-section", "610", "366", true)
          .section__picture
            +picture(pic.path, pic.name, pic.format, pic.width, pic.height, pic.alt)
          if movable
            .section__movable
              +picture(movable.path, movable.name, movable.format, movable.width, movable.height, movable.alt)(data-parallax-mouse, data-movement='10')
