mixin titles-set({colorful, title, tag = "h2", center = false})
  if !center
    .titles-set
      p.title-colorful!= colorful
      #{tag}.title!= title
  else
    .titles-set.titles-set--center
      p.title-colorful!= colorful
      #{tag}.title!= title
