mixin video(video)
  .video#video-wrapper
    video.video__video(width="1200", height="522", poster=video.poster)#video
      source(src=video.src, type="video/mp4")
    .video__description#video-description
      .property!= video.tag
      .video__description-text!= video.description
    .video__btn-wrapper
      button.video__play-btn(type="button")#play-video
        span.visually-hidden push to play video
        img(src="img/video/play-btn.svg", width="100", height="100", alt="just decorate.", aria-hidden="true")
