.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;

  @include vp-1439 {
    padding: 0 100px;
  }

  @include vp-1279 {
    padding: 0 50px;
  }

  @include vp-1023 {
    padding: 0 24px;
  }

  @include vp-767 {
    padding: 0 16px;
  }
}
