mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Home"
      },
      {
        href: "about-us.html",
        text: "About us"
      },
      {
        href: "#",
        text: "Service"
      },
      {
        href: "#",
        text: "Pricing Plan"
      },
      {
        href: "#",
        text: "Blog"
      },
    ]

  header.header(class=headerMods)
    .container
      .header__grid
        if(currentUrl === "index.html")
          //- lighthouse снимает 10 баллов SEO за <a> без href
          +logo()
        else
          +logo()
        nav.header__nav
          ul.header__nav-list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.header__around-link
                if(activeState)
                  span.header__link.is-active= link.text
                else
                  a.header__link(href=link.href)= link.text
        .header__around-link.header__around-link--btn
          a.header__link(href="#") Contact us
