mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Home"
      },
      {
        href: "about-us.html",
        text: "About us"
      },
      {
        href: "index.html#our-service",
        text: "Service"
      },
      {
        href: "index.html#our-pricing",
        text: "Pricing Plan"
      },
      {
        href: "detail-blog.html",
        text: "Blog"
      },
    ]

  header.header.header--sticky(class=headerMods, data-header="sticky", data-scroll-lock-scrollable)#main-header
    .container
      .header__grid
        if(currentUrl === "index.html")
          +logo(true)
        else
          +logo()
        nav.header__nav
          ul.header__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.header__item
                if(activeState)
                  span.header__link.is-active= link.text
                else
                  a.header__link(href=link.href, data-close-menu)= link.text
          .header__item.header__item--contact-us
            a.header__link.header__link--gradient-border(href="#main-footer", data-close-menu) Contact us
        button.header__toggle(type="button", aria-pressed="false", data-burger)#header-toggle
          span.visually-hidden menu
