mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Home"
      },
      {
        href: "about-us.html",
        text: "About us"
      },
      {
        href: "#",
        text: "Service"
      },
      {
        href: "#",
        text: "Pricing Plan"
      },
      {
        href: "detail-blog.html",
        text: "Blog"
      },
    ]
  //- data-scroll-lock-scrollable
  header.header.header--sticky(class=headerMods, data-header="sticky", data-scroll-lock-scrollable)#main-header
    .header__wave
    .container
      .header__grid
        if(currentUrl === "index.html")
          //- lighthouse снимает 10 баллов SEO за <a> без href
          +logo(true)
        else
          +logo()
        nav.header__nav
          ul.header__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.menu-item
                if(activeState)
                  span.menu-item__link.is-active= link.text
                else
                  a.menu-item__link(href=link.href)= link.text
          .menu-item.menu-item--btn
            a.menu-item__link(href="#") Contact us
        button.header__toggle(type="button", aria-pressed="false", data-burger)#header-toggle
          span.visually-hidden меню
          .header__toggle-back
            +icon("menu-toggle-closed", "16", "16")
