mixin icon(name, width="100%", height="100%")
  svg(width=width, height=height, aria-hidden="true")&attributes(attributes)
    use(xlink:href="img/sprite.svg#" + name)

//- &attributes(attributes) позволяет вызывать миксин с доп классом и аттрибутами
//- +icon("icon-close", 15, 15).some-class
