//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/intro
include ./blocks/our-service
include ./blocks/choose-us
include ./blocks/video-block
include ./blocks/our-pricing
include ./blocks/partners-block
include ./blocks/subscribe
include ./blocks/intro-about-us
include ./blocks/about-us-block
include ./blocks/experience
include ./blocks/passion
include ./blocks/leader
include ./blocks/team

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/logo
include ./mixins/section
include ./mixins/personalisation
include ./mixins/info-card
include ./mixins/accordion
include ./mixins/video
include ./mixins/titles-set
include ./mixins/card-price
include ./mixins/partners
include ./mixins/breadcrumbs
